@using Hotel.Models.Room
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Rooms";
}

@model IEnumerable<RoomViewModel>

<h2>Rooms</h2>

<table class="table">
    <thead>
        <tr>
            <th>Number</th>
            <th>Type</th>
            <th>Rentability</th>
            <th>Price</th>
      </tr>
    </thead>

    <tbody>
      @foreach (var room in Model)
      {
        <tr>
            <th>@room.Number</th>
            <th>@room.Type</th>
            <th>@room.Rentability</th>
            <th>@room.Price</th>
        </tr>
      }
    </tbody>
</table>
